/* vant NavBar */
.gc-container {
    .van-nav-bar {
        background: #3E6DE3;
        z-index: 999 !important;
        &__title,
        &__text {
            color: @--color-white;
        }
        .van-icon {
            color: @--color-white;
        }
        &__text:active {
            background-color: #3E6DE3;
        }
    }
}

.gc-btn {
    .van-button--info {
        background-image: linear-gradient(90deg, #68B3FF, #5C7EF8);
        border: none;
    }
}

/* vant Tabs */
.gc-tabs {
    .van-tabs__line {
        background-color: #3E6DE3;
    }
}