@import '../common/_var';

.gc-panel {
    position: relative;
    padding-bottom: 20px;
    background: #fff;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        transform: scale(.5);
        transform-origin: 0 0;
        pointer-events: none;
        box-sizing: border-box;
        border: 0 solid #e5e5e5;
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
    &__title {
        font-size: @--size-base + 12;
        padding: 20px 25px 0 25px;
        font-weight: 400;
        span {
            font-size: 14px;
            color: #999;
        }
    }
    &__without-top {
        margin-top: 0;
    }
    &__without-border::after {
        border: 0 none;
    }
}